@model IEnumerable<Appointment>

<h2>Appointment Overview</h2>

<table>
    <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Specialization Name</th>
            <th>DoctorName</th>
            <th>Appointment Date</th>
            <th>Status</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.AppoID</td>
                <td>@appointment.Patient.PatientsName</td>
                <td>@appointment.Specialization.SpecializationName</td>
                <td>@appointment.Doctor.DoctorName</td>
                <td>@appointment.Date.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@appointment.Status</td>
            </tr>
        }
    </tbody>
</table>

